*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #FF3D77, #FFA63D );
  background-image: url("https://images.pexels.com/photos/269583/pexels-photo-269583.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.sec2 {
  padding: 40px;
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(62, 254, 244, 0.2);
  width: 90%;
  max-width: 600px;
  height: auto;
}

.sec-content{
  display: flex;
flex-direction: column;
 justify-content: center;
 align-items: center;
}

.sec2 b {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 0.5rem;
  font-family: 'Arial', sans-serif;
  text-shadow: 
    1px 1px 0 #333,
    -1px -1px 0 #333,  
    1px -1px 0 #333,  
    -1px 1px 0 #333; 
}

h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: 'Arial', sans-serif;
  text-shadow: 
    0.5px 0.5px 0 #333,
    -0.5px -0.5px 0 #333,  
    0.5px -0.5px 0 #333,  
    -0.5px 0.5px 0 #333; 
}

input {
  width: 80%;
  border: 2px solid #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(44, 230, 247, 0.8);
  text-align: center;
  margin: 5px;
  padding: 12px;
  font-size: 16px;
  outline: none;
  color: #333;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input:focus {
  border: 2px solid #3bf0f6;
  box-shadow: 0 0 10px rgba(206, 61, 255, 0.8);
}


.button {
  width: 80%;
  background-color: #FF3D77;
  color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(255, 61, 119, 0.3);
  margin-bottom: 20px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FF1E57;
}

.cards .city{
  font-size: 1.2rem;
  margin-top: 10px; 
  background-color: rgba(175, 174, 174, 0.512);
  border-radius: 10px;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}

.cards .contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cards .contents p{
  margin: 25px;
}

.cards .contents p i{
  font-size: 1.5rem;
  margin-left: 10px;
}

.error{
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-top: 20px;
  background-color: rgba(175, 174, 174, 0.512);
  border-radius: 10px;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
.sec2 {
  width: 500px;
  height: auto;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.button {
  margin: 0 0 20px 0;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cards .city{
  margin-bottom: 15px;  
}
  .cards .contents{
    flex-direction: column;
  }
  
  .cards .contents p{
    margin: 5px 0;
  }
}
